.clear-btn-wrapper {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 1.4rem;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  border: none;
}
